*{
    margin: 0;
    padding: 0;
}
/* Shared Style */
.quicksand-regular{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.sizing{
    max-width: 1158.61px;
    width: 100%;
    margin: 0 auto;
}
/* Shared style finish */


/* Navbar Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 18px;
}
.school{
    display: flex;
    align-items: center;
}
.school-heading{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.menubar-list{
    display: flex;
    list-style: none;
    margin: 16px 186px;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 32px;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05d4df;
}
.admission{
    color: #5d58ef;
}
.contact-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 10px;
    background-color: orange;
    border-radius: 12px;
    border: none;
}
/* Navbar Finish */
/* Banner Start */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.banner-content{
    padding: 122px 0 122px;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.empowering{
    color: orange;
}
.towards-vision{
    color: skyblue;
}
.banner-descrip{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    margin-bottom: 24px;
}
.banner-btn{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    border-radius: 12px;
    padding: 10px 10px;
    border: none;
}
.banner-img > img{
   
}
/* Banner Finish */
/* Standard Curriculum Start */
.stand-heading{
    font-weight: bold;
    font-size: 2.8rem;
    margin: 60px 0 80px;
    text-align: center;
    color: #000000;
}
.class-box-container{
    display: flex;
    gap: 29px;
}
.class-level{
    text-align: center;
    /* border: 1px solid red; */
}
.class-img{
    margin: 52px 0 32px;
}
.class-heading{
    font-weight: bold;
    font-size: 1.53rem;
    color: #202020;
    margin-bottom: 33px;
}
.class-descrip{
    font-weight: 600;
    font-size: 1rem;
    color: #808080;
    margin-bottom: 34px;
    
}
.class-btn{
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
.kinder-btn{
    color: #64C8FF;
}
.elementary-btn{
    color: #F0AA00;
}
.middle-btn{
    color: #8700FF;
}
/* button start*/
.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.arr{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 80px 0 60px;
    transition: 0.45s ease;
}

.arr div{
    position: absolute;
    height: 13px;
    width: 13px;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    transform: rotate(45deg);
}
.arr:hover{
    background-color: rgb(252, 109, 57);
}
.arr-right{
    right: 21px;
    top: 18px;
}
.arr-left{
    left: 21px;
    top: 18px;
}
.right{
    transform: rotate(90deg);
}
.left{
    transform: rotate(-90deg);
}
/* button finish */
/* Standard Curriculum finish */

/* Our Stories Start */
.our-stories-section{

    /* border: 1px solid black; */
    background: linear-gradient(to top,rgba(254, 163, 1, 0.4), transparent);
}
.stories-heading{
    font-size: 2.87rem;
    font-weight: bold;
    text-align: center;
    margin: 60px 0 80px;
}
.stories-box-container{
    display: flex;
    gap: 19px;
}
.fun-toddler{
    /* border: 1px solid black; */
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    /* margin: 0 18px 0 140px; */
}
.bg-color{
    background-color: #ffffff;
}
.fun-tod-img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.date-tod{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #3CD8E8;
    /* border: 1px solid black; */
    padding: 14px 19px;
    border-radius: 48px;
    margin-left: 38.35px;
    /*  */
}

.toddler-heading{
    padding: 33px 38px 47px;
    font-weight: bold;
    font-size: 1.5rem;
}
.toddler-descrip{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    padding: 0px 38px 34px;
}
.four-boxes-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.four-box-img{
    border-radius: 16px;
}
.four-boxes-heading{
    padding: 20px 37px 28px;
}
.date-bg-color{
    background-color: #95B226;
}
.story-2-date{
    background-color: #5D58F0;
}

.stories-btn{
    padding: 10px 61px;
    margin: 80px 0 60px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}
.stories-btn-test{
    text-align: center;
}
.box-5,.box-6{
    display: none;
}
/* RESPONSIVE PART */
@media screen and (max-width: 430px) {
    /* navbar */
    nav{
        border: 1px solid orange;
        margin-top: 0;
    }
    .school > img{
        width: 100%;
    }
    .menu{
        margin: 20px 16px 20px 0;
    }
    .hamburger-menu{
        width: 23px;
        height: 5px;
        border-radius: 8px;
        margin: 6px 0;
        background-color: black;
    }
    .school-heading,
    .menubar-list,
    .contact-btn{
        display: none;
    }
    /* navbar finish */
    /* banner start */
    .banner{
        max-width: 357px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .banner-heading{
        font-size: 2rem;
    }
    .banner-content{
        text-align: center;
        padding: 20px 0 20px ;
    }
    .banner-img > img{
        width: 100%;
    }
    /* banner complete */
    /* Standard Curriculum Start */
    .stand-heading{
        font-size: 1.625rem;
        margin: 40px 64px 20px;
    }
    .class-box-container{
        flex-direction: column;
    }
    .arrow-container{
        display: none;
    }
    /* Standard Curriculum finish*/
     /* Our Stories Start */
     .fun-toddler{
        display: none;
     }
     .box-5,.box-6{
        display: block;
     }
     .four-box-img{
        width: 173px;
        height: 105px;
        margin-left: 16px;
     }
     .date-tod{
    font-size: 9px;
    padding: 6px 11px;
     }
     .four-boxes-heading{
        font-size: 9px;
     }
}