*{
    margin: 0;
    padding: 0;
}
/* Shared Style */
.quicksand-regular{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.sizing{
    max-width: 1158.61px;
    width: 100%;
    margin: 0 auto;
}
/* Shared style finish */


/* Navbar Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 18px;
}
.school{
    display: flex;
    align-items: center;
}
.school-heading{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.menubar-list{
    display: flex;
    list-style: none;
    margin: 16px 186px;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 32px;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05d4df;
}
.admission{
    color: #5d58ef;
}
.contact-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 10px;
    background-color: orange;
    border-radius: 12px;
    border: none;
}
/* Navbar Finish */
/* Banner Start */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.banner-content{
    padding: 122px 0 122px;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.empowering{
    color: orange;
}
.towards-vision{
    color: skyblue;
}
.banner-descrip{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    margin-bottom: 24px;
}
.banner-btn{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    border-radius: 12px;
    padding: 10px 10px;
    border: none;
}
.banner-img > img{
   
}
/* Banner Finish */



/* RESPONSIVE PART */
@media screen and (max-width: 430px) {
    /* navbar */
    nav{
        border: 1px solid orange;
        margin-top: 0;
    }
    .school > img{
        width: 100%;
    }
    .menu{
        margin: 20px 16px 20px 0;
    }
    .hamburger-menu{
        width: 23px;
        height: 5px;
        border-radius: 8px;
        margin: 6px 0;
        background-color: black;
    }
    .school-heading,
    .menubar-list,
    .contact-btn{
        display: none;
    }
    /* navbar finish */
    /* banner start */
    .banner{
        max-width: 357px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .banner-heading{
        font-size: 2rem;
    }
    .banner-content{
        text-align: center;
        padding: 20px 0 20px ;
    }
    .banner-img > img{
        width: 100%;
    }
    /* banner complete */
}